:root {
    --grid-cols: 1;
    --grid-rows: 1;
}


body {
    margin: 0;
    display: block;
    font-family: 'PT Sans', Calibri, Tahoma, sans-serif;
} 

.headcont {
    display: flex;
    color: aliceblue;
    justify-content: space-around;
    border: 1px solid black;
    padding: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,33,9,1) 52%, rgba(0,212,255,1) 100%);
    border-bottom: 2px solid black;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headcont img {
    width: 70px;
    height: auto;
}

.headcont a {
    justify-self: flex-end;
    align-self: center;
}

.main-container {
    display: flex;
    padding: 100px;
    justify-content: space-around;
    border: 2px solid black;
}

.grid-container {
    display: grid;
    border: 3px solid black;
    background-color: white;
    border-radius: 5px;
    align-self: flex-end;
    margin: 20px;
    width: 450px;
    height: 450px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.options-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input-container {
    display: flex;
    border: 4px solid #DE1752;
    border-radius: 10px;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
}

.input-container h2 {
    color: #DE1752;
    padding: 7px;
    margin-bottom: -5px;
}

.color-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #DE1752;
    background-color: white;
    padding: 10px;
    justify-self: flex-end;
    justify-content: space-between;
    border: 4px solid #DE1752;
    border-radius: 8px;
}

.footer-container {
    display: flex;
    font-size: smaller;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,33,9,1) 52%, rgba(0,212,255,1) 100%);
}

#applybtn {
    color: white;
    background-color: black;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

#clearbtn {
    color: black;
    background-color: white;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#colorpick {
    padding: 0;
    margin: 10px;
    margin-top: -5px;
    border-radius: 10px;
}

#color-mode {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#rb-mode {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(69,75,252,1) 100%);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}