:root {
    --grid-cols: 1;
    --grid-rows: 1;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
} 

.headcont {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
}

.headcont h1 {
    justify-self: center;
    align-self: center;
}

.main-container {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
}

.grid-container {
    display: grid;
    border: 1px solid black;
    align-self: flex-end;
    margin: 20px;
    width: 450px;
    height: 450px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.options-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input-container {
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
}

.color-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-end;
    justify-content: space-between;
    border: 2px solid black;
}

#applybtn {
    color: white;
    background-color: black;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

#clearbtn {
    color: black;
    background-color: white;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#colorpick {
    padding: 0;
    margin: 10px;
    margin-top: -5px;
    border-radius: 10px;
}

#color-mode {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#rb-mode {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(69,75,252,1) 100%);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}